* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 16rem;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: papayawhip;
}

.page__header {
  font-size: 3rem;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.page__main {
  width: 80%;
  margin: 0 auto;
}

.page__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: peachpuff;
}

.page__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-top: 0.25em solid black;
  cursor: pointer;
}

.page__label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.page__label:active .page__text {
  opacity: .5;
}

.page__text {
  display: block;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.page__input {
  position: absolute;
  top: 2em;
  right: 2em;
  display: none;
  appearance: none;
  width: 3em;
  height: 3em;
  margin: 0;
  background-image: url("./img/icons/close.svg");
  background-size: 3em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .5s;
}

.page__input[type="radio"]:checked {
  background-image: url("./img/icons/check.svg");
}

.page__image {
  align-self: center;
  width: 0;
  transition: all 1s;
}

.page__input[type="radio"]:checked + .page__image {
  width: 70%;
}

@media (hover: hover) {
  .page__list:hover .page__input {
    display: block;
  }

  .page__item:hover .page__image {
    width: 70%;
  }
}